<! DOCTYPE html>
<html>
<head>
    <style>
    div.app {border-style: solid;
        background-color:#870707;
    }
    </style>
     <Link rel ="stylesheet" type="text/CSS" href="style.CSS">
     <title></title>
</head>
<body div style="width:42%; height: 100px; ">
    <div class="app" >
    
        <h1 style="text-align:center;"> Order Placement Form</h1>           
        <form>
            
            <label for="Order" style="margin: 10px;">
            <span>Order Name:</span>
            &nbsp <input type="text" id="order" />
            </label>
            <label for="Approx weight" >
             <span>Approximate weight:</span>
             <input type="text" id="approx weight" />
            </label>
            <br>
            <br>
            <br>
           
           <label for="pick up" style="margin: 10px;">
            <span>Pickup location:</span>
            <input type="text" id="pickup"/>
             </label>
            <label for="Drop">
             &nbsp &nbsp &nbsp <span>Drop location:</span>
             <input type="text" id="Drop" />
            </label>
            <br>
            <br>
            <br>
            &nbsp Amount offered: <input type="text" name="amount"><br>
            <br>
            <br>
            <label for="cancel">
            <input type="submit" value="Cancel" div style="width: 20%; height: 25% ; float:right;                margin:               5px;background-color:white;"/>                    
            </label>
            <label for="place order">
            <input type="submit" value="Place My Order" div style="width: 20%; height: 25%                       ;float:right; margin: 5px;background-color:white;"/>                             
            </label>
            <br>
            <br>
         </form>
            
            
  
  
 
            
            
            
            
  
 
            
            
            

            
            
            
            
            
            

            
            
            